h1{
    color:blueviolet;
    font-weight:bolder;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
    float:left
}
legend{
    
    color:aqua;
}
body{
    background-color:black;
}
label{
    background-color:blueviolet;
}
p{
    background-color:blueviolet;
    float:left;
}
#welcome{
    float:left;
}

